<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rover Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Get this line from the documentation, need on the html pages where I want to access live data -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" 
            integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" 
            crossorigin="anonymous">
    </script> -->
</head>
<body>
    <div class="container">
        <div class="box-top-left">
            <h1>Animated Visual Feedback</h1>
        </div>

        <div class="box-top-right">
            <h1>Motor Data Feedback</h1>
            <p>Motor 1: </p>
            <p>Motor 2: </p>
            <p>Motor 3: </p>
            <p>Motor 4: </p>
        </div>

        <div class="box-mid">
            <h1>Event Log</h1>
            <p>placeholder text</p>
        </div>

        <div class="box-bottom-left">
            <h1>Verbose Data Log</h1>
            <p>placeholder text</p>
        </div>

        <div class="box-bottom-right">
            <h1>Sensor Data Feedback</h1>
            <p>GPS: Longitude: Latitude: </p>
            <p>IMU: X: Y: Z: </p>
            <p>Air Sensors: 1: 2: 3: ..9:</p>
            <p>Soil Moisture:</p>
        </div>

    </div>

    <!-- Websocket connection code -->
    <!-- <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });
    </script> -->

</body>